<div class=" p-0 background-5050">
  <div class="container pt-3">
    <div class="shadow-sm card m-auto" style="width: 90%;">
      <div class="row">
        <div class="col-5 p-3">
          <img src="../../assets/img/ganaSeguros/ganaSeguros_mainImage.jpg" class="card-img-top" alt="imagenPrincipal">
        </div>
        <div class="col-7 p-5">
          <h2 class="fw-bolder text-primary"> {{ titulo }}</h2>
          <h4 class="fw-bolder text-info">{{ subtitulo }}</h4>
          <br/>
          <h6 class="fw-bolder">{{ contenido }}</h6>
        </div>
        <div class="col-12">
          <hr class="me-3 ms-3"/>
          <button type="button" class="btn btn-link text-secondary float-end me-2 mb-3" style="text-decoration: none;" (click)="onSelect('sec4')">COTIZA AHORA</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-3">
    <div class="row">
      <div class="col-12 text-center mt-4 mb-4">
        <h6 class="text-secondary">¿Cómo contratar GanaSeguro?</h6>
        <small>¡Es súper cómodo! Puedes hacer todo 100% desde tu celular, sin letra chica.</small>
      </div>
      <div class="col-4 text-center">
        <small><span class="text-secondary">1. </span>Elige el mejor plan para tí.</small>
        <img src="../../assets/img/ganaSeguros/ganaSeguros_info1.jpg" class="img-fluid p-4" alt="tip1">
      </div>
      <div class="col-4 text-center">
        <small><span class="text-secondary">2. </span>Carga tus datos de pago.</small>
        <img src="../../assets/img/ganaSeguros/ganaSeguros_info2.jpg" class="img-fluid p-4" alt="tip2">
      </div>
      <div class="col-4 text-center">
        <small><span class="text-secondary">3. </span>¡Listo! Ya tienes tu seguro.</small>
        <img src="../../assets/img/ganaSeguros/ganaSeguros_info3.jpg" class="img-fluid p-4" alt="tip3">
      </div>
    </div>
  </div>


</div>
