<div class=" p-0 background-acuagreen">
  <div class="container pt-3">
    <div class="shadow-sm card m-auto background-graph" style="width: 90%;">
      <div class="row">
        <div class="col-12 m-3">
          <h6 class="text-secondary ps-3" style="font-weight:700;">Consulta Rápida</h6>
          <h3 class="text-primary" style="font-weight:700;">Mis Productos de Seguros</h3>
          <div class="ps-3 mt-4 col-8">
            <p style="font-weight:400;">En breve un especialista de GanaSeguros se comunicará contigo!</p>
            <div class="row">
              <div class="col-6">
                <div class="alert alert-warning" role="alert">
                  <strong>Lo sentimos!</strong>
                  <p>No existen datos que coínsidan con su búsqueda.</p>
                </div>
                <br/><br/>
                <button class="btn btn-outline-primary btn-sm me-2 btn-home" (click)="onSelect('main')">
                  <img src="../../assets/img/ganaSeguros/ganaSeguros_home_green.png" alt="home" class="img-responsive me-1" style="width:10px;">Inicio
                </button>
                <button class="btn btn-outline-primary btn-sm btn-nuevo"  (click)="onSelect('sec1')">
                  <img src="../../assets/img/ganaSeguros/ganaSeguros_nuevo_green.png" alt="nuevo" class="img-responsive me-1" style="width:10px;">Nueva Búsqueda
                </button>
              </div>
            </div>
            <div class="row" style="height: 100px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
