<div class=" p-0 background-acuagreen">
  <div class="container pt-3">
    <div class="shadow-sm card m-auto background-graph" style="width: 90%;">
      <div class="row">
        <div class="col-12 m-3">
          <h6 class="text-secondary ps-3" style="font-weight:700;">Consulta Rápida</h6>
          <h3 class="text-primary" style="font-weight:700;">Mis Productos de Seguros</h3>
          <div class="row">
            <div class="ps-4 mt-4 col-5">
              <span style="font-weight:700;">{{ nombreUsuario }}</span>
              <p class="mt-3">
                Estos son los detalles del producto:<br/>
                {{ nombreProducto }}<br/>
                {{ nombrePoliza }}
              </p>
              <button class="btn btn-outline-primary btn-sm me-2 btn-volver" (click)="onSelect('sec2')">
                <img src="../../assets/img/ganaSeguros/ganaSeguros_arrow_back_green.png" alt="back" class="img-responsive me-1" style="width:10px;">Volver
              </button>
              <button class="btn btn-outline-primary btn-sm me-2 btn-home" (click)="onSelect('main')">
                <img src="../../assets/img/ganaSeguros/ganaSeguros_home_green.png" alt="home" class="img-responsive me-1" style="width:10px;">Inicio
              </button>
              <button class="btn btn-outline-primary btn-sm btn-nuevo"  (click)="onSelect('sec1')">
                <img src="../../assets/img/ganaSeguros/ganaSeguros_nuevo_green.png" alt="nuevo" class="img-responsive me-1" style="width:10px;">Nueva Búsqueda
              </button>
              <div class="row" style="height: 100px;"></div>
              <a *ngIf="pdfBase64" target="_blank" download="documento_ganaseguros.pdf" style="text-decoration: none;" [href]="pdfBase64">
                <div class="card bg-secondary border-0 p-2 mb-3" style="width: 80%;">
                  <div class="row">
                    <div class="col-10 text-white">
                      Descargar<br/>
                      Documento PDF
                    </div>
                    <div class="col-2">
                        <img src="../../assets/img/ganaSeguros/ganaSeguros_arrow_white_down.png" width="20" />
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-7 mt-4">
              <div class="card m-auto background-gradient border-0 p-2 mb-3" style="width: 80%;">
                <div class="card bg-primary border-0 p-1">
                  <span class="label-small text-white p-1" style="font-weight: 700;">
                    {{ nombreProducto }}<br/>
                    {{ nombrePoliza }}
                  </span>
                </div>
                <div class="m-3 mt-4" style="line-height: 15px;">
                  <span class="label-small text-info" style="font-weight: 700;">Nombre Asegurado: </span><br/>
                  <span class="label-small text-success" style="font-weight: 300;">{{ nombreAsegurado }}</span><br/>
                  <span class="label-small text-info" style="font-weight: 700;">Nombre Tomador: </span><br/>
                  <span class="label-small text-success" style="font-weight: 300;">{{ nombreTomador }}</span>
                  <br/><br/>
                  <span class="label-small text-info" style="font-weight: 700;">Beneficiarios Nominados: </span><br/>
                  <span *ngFor="let beneficiario of lstBeneficiarios">
                  <span class="label-small text-success" style="font-weight: 300;">{{ beneficiario }}</span><br/>
                  </span>
                  <br/><br/>
                  <span *ngIf="numeroOperacion" class="label-small text-info" style="font-weight: 700;">Nro. de Operación: </span>
                  <span *ngIf="numeroOperacion" class="label-small text-success" style="font-weight: 300;">{{ numeroOperacion }}</span><br/>
                  <span class="label-small text-info" style="font-weight: 700;">Número de póliza: </span>
                  <span class="label-small text-success" style="font-weight: 300;">{{ nombrePoliza }}</span><br/>
                  <span class="label-small text-info" style="font-weight: 700;">Fecha de inicio: </span>
                  <span class="label-small text-success" style="font-weight: 300;">{{ fechaInicio }}</span><br/>
                  <span class="label-small text-info" style="font-weight: 700;">Fecha de expiración: </span>
                  <span class="label-small text-success" style="font-weight: 300;">{{ fechaFin }}</span><br/>
                  <!--span *ngIf="estado" class="label-small text-info" style="font-weight: 700;">Estado: </span>
                  <span *ngIf="estado" class="label-small text-success" style="font-weight: 300;">{{ estado }}</span><br/-->
                  <span *ngIf="tipoProducto" class="label-small text-info" style="font-weight: 700;">Ramo del producto: </span>
                  <span *ngIf="tipoProducto" class="label-small text-success" style="font-weight: 300;">{{ tipoProducto }}</span><br/>
                  <!--span *ngIf="frecuencia" class="label-small text-info" style="font-weight: 700;">Frecuencia: </span>
                  <span *ngIf="frecuencia" class="label-small text-success" style="font-weight: 300;">{{ frecuencia }}</span><br/-->
                  <span *ngIf="montoPrima" class="label-small text-info" style="font-weight: 700;">Monto de la prima última renovación: </span>
                  <span *ngIf="montoPrima" class="label-small text-success" style="font-weight: 300;">{{ montoPrima }}</span><br/>
                  <!--span *ngIf="precio" class="label-small text-info" style="font-weight: 700;">Precio: </span>
                  <span *ngIf="precio" class="label-small text-success" style="font-weight: 300;">{{ precio }}</span><br/-->
                  <div class="row" style="height: 200px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
