<!--<app-nav-bar (featureSelected)="onNavigate($event)"></app-nav-bar>
<div class="container-fluid">
  <app-body-section6 (featureSelected)="onNavigate($event)" *ngIf="loadedFeature === 'sec6'"></app-body-section6>
  <app-body-section5 *ngIf="loadedFeature === 'sec5'"></app-body-section5>
  <app-body-section4 (featureSelected)="onNavigate($event)" *ngIf="loadedFeature === 'sec4'"></app-body-section4>
  <app-body-section3 (featureSelected)="onNavigate($event)" *ngIf="loadedFeature === 'sec3'" [parentFoundData]="foundData" [policyId]="policyId"></app-body-section3>
  <app-body-section2 (featureSelected)="onNavigate($event)" *ngIf="loadedFeature === 'sec2'" [parentFoundData]="foundData" (policyIdSelected)="policyIdRecived($event)"></app-body-section2>
  <app-body-section1 (featureSelected)="onNavigate($event)" *ngIf="loadedFeature === 'sec1'" (searchResponse)="onDataFound($event)"></app-body-section1>
  <app-main-body (featureSelected)="onNavigate($event)" *ngIf="loadedFeature === 'main'"></app-main-body>
</div>
<div class="container-fluid">
  <app-banner-body (featureSelected)="onNavigate($event)"></app-banner-body>
  <app-foot-bar></app-foot-bar>
</div>-->
<p>Pushed to develop</p>